#!/usr/bin/env python
PACKAGE = "user_input"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("Xf",    double_t,    0, "Final X Catching Position in Yards", 0,  -25, 25)
gen.add("Yf", int_t, 0, "Final Y Catching Position in Yards",    0, 0,   25)

gen.add("X0",    int_t,    0, "Initial X position with respect to the machine in yards", 0,  0, 25)
gen.add("Y0", int_t, 0, "Initial Y position with respect to the machine in yards",    0, 0,   25)

gen.add("cutX",    int_t,    0, "X Cut Position", 0,  0, 25)
gen.add("cutY", int_t, 0, "Y Cut Position",    0, 0,   25)


gen.add("Speed", double_t, 0, " Player Average Speed in m/s",    0, 0,   10)
#gen.add("str_param",    str_t,    0, "A string parameter",  "Hello World")
gen.add("Initiate",   bool_t,   0, "A Boolean parameter",  False)

#size_enum = gen.enum([ gen.const("Small",      int_t, 0, "A small constant"),
#                       gen.const("Medium",     int_t, 1, "A medium constant"),
#                       gen.const("Large",      int_t, 2, "A large constant"),
#                       gen.const("ExtraLarge", int_t, 3, "An extra large constant")],
#                     "An enum to set size")

#gen.add("size", int_t, 0, "A size parameter which is edited via an enum", 1, 0, 3, edit_method=size_enum)

exit(gen.generate(PACKAGE, "user_input_node", "Tutorials"))

